@using CinemaTiketsShop.IdentityServerData.Dtos;

@model RegisterDto;

<section class="section">
    <div class="container">
        <div class="row">
            <div class="container col-md-6">
                <form name="loginform" id="loginform" asp-action="UserProfile" method="post">

                    <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <input type="email" name="email" class="form-control" asp-for="Email" size="20">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <a class="form-sublink" href="https://themes.getbootstrap.com/my-account/lost-password/">Forgot password?</a>
                        <input asp-for="Password" type="password" name="pwd" id="user_pass" class="form-control" value="" size="20">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FirstName">FirstName</label>
                        <input type="text" name="FirstName" class="form-control" asp-for="FirstName" size="20">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName">LastName</label>
                        <input type="text" name="LastName" class="form-control" asp-for="LastName" size="20">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Sign Up" class="btn btn-primary bi bi-door-open-fill"/>
                        <a asp-action="UserProfile" class="btn btn-primary w-100"><i class="bi bi-door-open-fill" style="margin-right:2px"></i>Sign Up</a>
                    </div>

                </form>
                <p class="small text-center">Don't have an account yet? <a href="https://themes.getbootstrap.com/my-account/">Sign up</a></p>
            </div>
        </div>
    </div>
</section>