@using CinemaTiketsShop.ViewModels.ActorVMs;

@model EditActorViewModel

@{
    ViewData["Title"] = "Edit Actor";
}

<div class="row text">

    <div class="col-md-12">
        <div class="col-md-8  offset-2">
            <p>
                <h1>Edit Actor:</h1>
            </p>

            <div class="col-md-8 offset-2">

                <div class="form-group text-center">
                    <img style="max-width: 250px" id="FotoPreview" class="border-info rounded-circle" alt="not found" />
                </div>

                <form enctype="multipart/form-data" asp-action="Edit" class="gap-4">

                    <div style="margin-top: 40px">
                        <input type="radio" name="picture_change_method" value="FromDevice" id="picture_change_1" checked />
                        <label asp-for="Foto" class="form-label"><strong>Select a picture from your device:</strong></label>
                        <input asp-for="Foto" class="form-control" type="file">
                        <span asp-validation-for="Foto" class="text-danger"></span>
                    </div>


                    <div style="margin-top: 40px">
                        <input type="radio" name="picture_change_method" value="FromUrl" id="picture_change_1" />
                        <label asp-for="FotoUrl" class="form-label"><strong>Change Foto by with url:</strong></label>
                        <input type="url" class="form-control" asp-for="FotoUrl" placeholder="Foto URL">
                        <span asp-validation-for="FotoUrl" class="text-danger"></span>
                    </div>

                    <div style="margin-top: 40px">
                        <label asp-for="Name" class="form-label"><strong>Full Name:</strong></label>
                        <input type="text" class="form-control" asp-for="Name" placeholder="Producer's full name" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div style="margin-top: 40px">
                        <label asp-for="Bio" class="form-label"><strong>Biogrophy:</strong></label>
                        <textarea type="text" class="form-control" asp-for="Bio" placeholder="Producer's biography" required></textarea>
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>

                    <input type="hidden" name="Id" value="@Model.Id" readonly />
                    <input type="hidden" name="PublicId" value="@Model.PublicId" readonly />
                    <input type="hidden" class="form-control" asp-for="OldFotoUrl" value="@Model.OldFotoUrl" readonly />

                    <div class="form-group" style="margin-top: 10px">
                        <div class="d-flex flex-row-reverse justify-content-lg-between">
                            <input type="submit" value="Update" class="btn btn-outline-success float-start" />
                            <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                        </div>
                    </div>
                    
                </form>

            </div>
        </div>
    </div>

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            // Listen for the change event on the file input
            $("#Foto").on("change", function (event) {
                var output = document.getElementById('FotoPreview');
                var file = event.target.files[0]; // Get the selected file

                if (file) {
                    var reader = new FileReader();

                    // When the file is successfully read
                    reader.onload = function (e) {
                        output.src = e.target.result; // Set the preview's src to the file's data URL
                    };

                    // Read the file as a data URL
                    reader.readAsDataURL(file);
                } else {
                    output.src = ""; // Clear the preview if no file is selected
                }
            });
        });

        $(document).ready(function(){
            var output =  document.getElementById('FotoPreview');
            output.src = $("#FotoUrl").val();
        })

        $("#FotoUrl").on("change", function(){
            var output =  document.getElementById('FotoPreview');
            output.src = $(this).val();
        })
    </script>
}
